$color-link-header: #00acdc;
$color-link: #060b35;
$color-text-hover: #34568b;
$color-card-border: #ccc;
$transition-hover-duration: 300ms;
$transitionDurations: 300ms;
$hoverColorTitle: #00acdc;
$hoverColorCardTitle: #34568b;