.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: ($card-width * 4) + ($card-margin-r * 3);
  &__card {
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

    transition: color $duration linear, transform $duration linear;

    &:hover {
      transform: scale(1.2);
      color: $card-hover-color;
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
