.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 200px;
    height: 300px;

    margin-bottom: 48px;

    border: 1px solid #ccc;
    border-radius: 5px;

    @include trans;

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    &:hover {
      color: #34568b;
      transform: scale(120%);
    }
  }
}
