.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  perspective: 100px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 48px;
    width: 200px;
    height: 300px;

    border: 1px solid #ccc;
    border-radius: 5px;

    cursor: pointer;
    @extend %transform-time;
    transition: transform $time;

    &:hover {
      color: #34568b;
      transform: scale(1.2);
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
