.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    @extend %flex-center;
    width: 200px;
    height: 300px;
    border: 1px solid $card-border;
    border-radius: 5px;
    margin-bottom: 48px;
    transition: color, transform, $transition-smoothy;

    &:hover {
      color: $card-hover-color;
      transform: scale(1.2);
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
