.header {
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;


  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;

    display: flex;

  }

  &__item {
    line-height: 60px;
    position: relative;

    color: $color-header;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    color: inherit;

    transition: 300ms;
  }
  &__link:hover {
    color: $links-hover;
  }
}
