.header {
  @extend %flex-center-between;
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;

  box-shadow: 0 2px 4px $header-box-shadow;

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: $nav-item-color;
    list-style: none;
    line-height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition-duration: $hover-transition;

    &:hover {
      color: $nav-link-hover;
    }
  }
}
