@import "../utils/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: $color-item;
    list-style: none;
    line-height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    transition: color 0.3s;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      color: $color-hover-link;
    }

    &:not(:hover) {
      transition: 0.3s;
    }
  }
}
