.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    list-style: none;
    line-height: 60px;
    color: #060b35;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;

    color: inherit;
    transition: color $duration linear;

    font-size: 12px;
    font-weight: 500;

    &:hover {
      color: $sea-color;
    }
  }
}
