.card {
  font-family: inherit;
  transition: transform 0.3s, color 0.3s;

  display: inline-block;
  width: $card-width;
  
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 32px 16px 16px;
  
  &__image {
    display: block;
    height: 134px;
    width: 160px;

    margin: 0 auto 40px;
  }

  &__block-description {
    margin-bottom: 4px;

    font-weight: 500;
    @extend %card-medium-text;
    color: $color-main-accent;
    transition: 0.3s color ease;
    cursor: pointer;
  }

  &__block-product {
    margin-bottom: 16px;

    @extend %card-small-text;
    text-align: left;
    color: $color-secondary-accent;
  }

  &__block-rating {
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-reviews {
    @extend %card-small-text;
    color: $color-main-accent;
  }

  &__block-cost {
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
  }

  &__block-price {
    font-weight: 400;
    @extend %card-medium-text;
    color: $color-secondary-accent;
  }

  &__block-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $color-main-accent;
  }

  &__block-link {
    display: block;
    height: 40px;

    padding: 12px 70px;

    border-radius: 5px;
    background-color: $color-accent-blue;
    border: 1px solid transparent;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;

    transition: 
      0.3s background-color ease,
      0.3s color ease,
      0.3s border-color ease;

    &:hover {
      background-color: transparent;
      color: $color-accent-blue;
      border-color: $color-accent-blue;
    }
  }

  &:hover {
    transform: scale(1.2);

    .card__block-description {
      color: $color-on-hover-title;
    }
  }
}
