.card {
  padding: 32px 16px 16px;
  background-color: $white-color;
  border: $card-border solid $white-smoke-color;
  border-radius: 5px;
  transition: color 0.3s, transform 0.3s;

  .card__title &:hover {
    transform: scale(1.2);
    color: #34568b;
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    @extend %medium-text;
    line-height: 18px;
  }

  &__code {
    margin-bottom: 16px;
    @extend %small-text;
    color: $secondary-color;
  }

  &__stars {
    @extend %space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__stars-reviews {
    @extend %small-text;
  }

  &__price {
    @extend %space-between;
    margin-bottom: 16px;
  }

  &__price-text {
    font-size: $font-size-m;
    line-height: 18px;
    color: $secondary-color;
  }

  &__price-cost {
    font-size: $font-size-xl;
    font-weight: 700;
    line-height: 18px;
  }

  &__button {
    display: block;
    height: 40px;
    padding: 12px 0;
    font-size: $font-size-l;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: $blue-color;
    color: $white-color;
    border-radius: 5px;

    &:hover {
      color: $blue-color;
      background-color: $white-color;
      border: 1px solid $blue-color;
    }
  }
}
