.card {
  display: flex;
  flex-direction: column;
  width: $card-width;
  background-color: $c-white;
  padding: 16px;
  border: 1px solid $c-card-border;
  border-radius: 5px;
  transform-origin: top left;
  @include transition(transform, 0.3s, ease-in-out);

  &__img {
    display: flex;
    height: 134px;
    margin: 16px auto 0;
  }

  &__title {
    margin-top: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-accent;
    @include transition(color, 0.3s, ease-in-out);
  }

  &__code {
    margin-top: 4px;
    align-items: flex-start;
    font-size: 10px;
    line-height: 14px;
    color: $secondary;
  }

  &__rating {
    margin-top: 16px;
    @include flex-just-align(space-between, flex-end);
  }

  &__stars {
    display: flex;
  }

  &__star {
    @include star-size($star-side);
    background: center no-repeat url("../images/star.svg");

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $index from 1 through 5 {
    &__stars--#{$index} .card__star:nth-child(-n+#{$index}) {
      background-image: url("../images/star-active.svg");
    }
  }

  &__review {
    font-size: 10px;
    line-height: 14px;
    color: $main-accent;
  }

  &__price {
    margin-top: 24px;
    @include flex-just-align(space-between, center);

  }

  &__price-title {
    font-size: 12px;
    line-height: 18px;
    color: $secondary;
  }

  &__price-amount {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: $main-accent;
  }

  &__link {
    margin-top: 16px;
    @include flex-just-align(center, center);
    text-align: center;
    flex-basis: 40px;
    background-color: $blue-accent;
    border: 1px solid $blue-accent;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue-accent-reverse;

    &:hover {
      color: $blue-accent;
      background-color: $blue-accent-reverse;
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &__title:hover {
    color: $c-title-transition;
  }
}
