.catalog {

  display: flex;
  flex-wrap: wrap;

  max-width: $width;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: $width-card;
    height: $height-card;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $margin-between-card;
    transition: 300ms;
    cursor: pointer;

    &:not(:nth-child(4n)) {
      margin-right: $margin-between-card;
    }

    &:hover {
      transform: scale(1.2);
      color: #34568b;
    }
  }
}
