.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  min-width: 1024px;
  max-width: 1200px;
  margin: auto;
}

.card {
  margin: 48px 24px 0;
  padding: 0 16px;

  text-align: center;
  transition-duration: 0.3s;
  border-radius: 5px ;
  border: 1px solid #f3f3f3;

  background-color: #fff;

  &:hover {
    transform: scale(1.2);
    color: #34568b;
  }
}

.card {
  &__img {
    width: 160px;
    height: 134px;
    margin-top: 32px;
  }

  &__text {
    max-width: 166px;
    padding-top: 36px;
    padding-bottom: 4px;

    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    transition-duration: 0.3s;

    color: #060b35;

    &:hover {
      color: #34568b;
    }
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    padding-bottom: 16px;

    color: #616070;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  &__reviews-stars {
    display: flex;
  }

  .stars {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;

    background-image: url(../images/star.svg);
  }

  &__reviews-text {
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #060b35;

  }

  &__reviews-stars :nth-child(-n+4) {
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;

    color: #616070;
  }

  &__price-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #060b35;
  }

  &__button {
    width: 166px;
    height: 40px;
    display: flex;
    margin: 0 0 16px;
    padding: 12px 69px;

    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #00acdc;
    border-radius: 5px;
    transition-duration: 0.3s;

    background-color: #00acdc;
    color: #fff;
  }

  &__button:hover {
    color: #00acdc;
    background-color: #fff;
  }
}
