.catalog {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 1024px;
  padding: 50px 40px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box;
    color: $color-title;
    background: $white;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 32px 16px 16px;
    margin-bottom: 46px;

    transition: color $transition-time, transform $transition-time;

    &:hover {
      color: #34568b;
      transform: scale(1.2);
    }

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    & > * {
      display: flex;
      margin-bottom: $card-margin;
      box-sizing: border-box;
    }
  }

  &__img {
    display: block;
    margin: 0 auto  40px;
    width: 160px;
    height: 134px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__code {
    color: $color-secondary-text;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: $card-margin;
  }

  &__rate-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }

  .stars {
    display: flex;
    justify-content: space-between;

    &__star {
      width: $star-size;
      height: $star-size;

      margin-right: 4px;
      background-repeat: no-repeat;
      background-position: center;
    }

    @for $index from 0 through 4 {
      &--#{$index} :nth-child(n+#{$index}) {
        background-image: url(../images/star.svg);
      }
    }

    @for $index from 1 through 5 {
      &--#{$index} :nth-child(-n+#{$index}) {
        background-image: url(../images/star-active.svg);
      }
    }
  }

  &__rate-count {
    color: $color-title;
    font-weight: 400;
  }

  &__price-container {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $card-margin;
  }

  &__price-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &__price {
    color: $color-title;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__buy {
    display: block;
    height: 40px;
    background: $color-main;
    border-radius: 5px;
    text-decoration: none;
    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $color-main;
    margin-bottom: 0;

    transition: color, background-color $transition-time;
  }

  &__buy:hover {
    color: $color-main;
    background-color: $white;
  }
}
