@mixin card-size {
  width: 200px;
  height: 300px;
}
$catalog-max-width: 944px;
$margin: 48px;

.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: $catalog-max-width;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    @include card-size();
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $margin;
    transition: transform 0.3s linear;
    &:not(:nth-child(4n)) {
      margin-right: $margin;
    }
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
