// !!!!!!
//I am not sure what card title was meant in the task 
//so i made the class up for you to check: .catalog__card-title

.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;

  &__card-title {
    transition: color $animation-time;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;

    transition: transform $animation-time, color $animation-time;

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    &:hover {
      transform: scale(1.2);
      
      & > .catalog__card-title {
        color: #34568b;
      }
    }
  }
}
