.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @include cardSize;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $card-margin;
    transition-duration: $transition-duration;

    &:not(:nth-child(4n)) {
      margin-right: $card-margin;
    }

    &:hover {
      @include cardSizeHover;
      margin-right: $card-hover-margin-right;
      margin-bottom: 0;
      color: #34568b;
    }
  }
}
