.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: $width-size-card;
    height: $height-size-card;
    border: $frame;
    border-radius: 5px;
    margin-bottom: 48px;
    transition-duration: $animation-speed;

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    &:hover {
      transform: scale(1.2);
      color: $title-blue-color;

    }
  }
}
