.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    box-sizing: border-box;
    @include flex-decoration ($flex, $center, $center);
    @include card-decoration ($card-width, $card-height, $border, $radius);
    margin-bottom: 48px;
    transition-duration: $transition-300;

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    &:hover {
      transform: scale(1.2);
      color: $card-hovered-color;
    }
  }
}
