
@import "../utils/variables";

.catalog {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
    position: relative;
    transition: color $duration $animation-timing-function,
      transform $duration $animation-timing-function;

    &:hover {
      transform: scale(1.2);
      color: #34568b;
    }

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }
  }
}
