.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: #060b35;
    line-height: 60px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    color: inherit;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: color 0.3s linear 0s;

    &:hover {
      color: $nav-link-hover-color;
    }
  }
}
