.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  height: 60px;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: $logo-size;
    width: $logo-size;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: stretch;
    align-content: center;
  }

  &__item {
    position: relative;
    color: $color-title;
    list-style: none;
    line-height: $header-height;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:first-child {
      margin-left: 20px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: $header-height;
    white-space: nowrap;

    transition: $transition-time;

    &:hover {
      color: $color-main;
    }
  }
}
