.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: #060b35;
    list-style: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    @extend %smooth-transition;
    display: flex;
    align-items: center;
    height: 60px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      color: #00acdc;
    }
  }
}
