&__list {
  display: flex;
  margin: 0;
  padding: 0;
}

&__item {
  position: relative;
  color: #060b35;
  list-style: none;
  line-height: 60px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

&__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;

  transition: color $transitionDuration;

  &:hover {
    color: $color-link-hover;
  }
}
