@import "blocks/nav";

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
  &__logo-link {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
