.header {
  display: flex;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  justify-content: space-between;

  background: #fff;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  &__list {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__item:last-child {
    margin: 0;
  }

  &__link {
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;

    text-decoration: none;
    font-size: 12px;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;

    color: #000;
  }

  &__link:hover {
    color: $color-Blue;
  }
}

.is-active {
  position: relative;
  color: $color-Blue;
}

.is-active::after {
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0;
  left: 0;

  content: "";
  border-radius: 8px;

  background-color: $color-Blue;
}