@import "blocks/_var";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  height: 60px;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: #060b35;
    list-style: none;
    line-height: 60px;
    transition-duration: $duration;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $f_size;
    font-weight: $f_weight;
  }
  &__item:hover {
    color: $color_blue;
  }
}
