.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: $main-accent;
    list-style: none;
    line-height: $h-header;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    @include transition(color, 0.3s, ease-in-out);
  }

  &__link:hover {
    color: $blue-accent;
  }
}
