.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: $text-color;
    list-style: none;
    line-height: 60px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: color $card-animation ease;
  }

  &__item:hover {
    color: $secondary-color;
  }
}
