.nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  
  &__link {
    display: inline-block;
    color: $nav-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 22px 0;
    font-weight: 500;
    transition: color 0.3s;

    &:hover {
      color: $nav-link-color;
    }
  }
}
