.nav {
  &__list {
    display: flex;

    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    list-style: none;
    line-height: 60px;
    color: $header-main-color;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;

    transition: color $transition-duration;

    &:hover {
      color: $header-transformed-color;
    }
  }
}
