$black: #060b35;
$grey: #616070;
$blue: #00acdc;
$text-color-hover: #34568b;
$widthCard: 200px;
$borderRadius: 5px;
$timeSmoothy: 300ms;

* {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
}
