$text-color-hover: #34568b;
$link-color-hover: #00acdc;

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  transition: transform 300ms;

  &:hover {
    transform: scale(120%);
  }

  &__img {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__title {
    color: $black;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    transition: color 300ms;
  }

  &:hover &__title {
    color: $text-color-hover;
  }

  &__code {
    width: 100%;
    padding-top: 4px;
    color: $grey;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
  }

  &__rating {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 0 24px;
  }

  &__reviews {
    color: $black;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
  }

  &__price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__price-title {
    color: $grey;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
  }

  &__price-value {
    color: $black;
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: $blue;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    transition: all 300ms;
  }

  &__link:hover {
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
  }
}

.block-stars {
  display: flex;

  &__stars {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &--4 > div:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }
}
