$card-width: 200px;
$gaps: 48px;
$max-width: $card-width * 4 + $gaps * 3;
$transform-delay: 300ms;
//colors
$color-header: #060b35;
$links-hover: #00acdc;
$card-hover: #34568b;
$card-border-color: #ccc;
