$header_item_color: #060b35;
$header_item_color_hover: #00acdc;
$header_shadow_color: rgba(0, 0, 0, 0.05);

$card_width: 200px;
$card_height: 300px;
$card_border_color: #ccc;
$card_color_hover: #34568b;
