.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
    cursor: pointer;

    transition: color $translation-time,
      border $translation-time,
      background-color $translation-time,
      font-size $translation-time,
      border-radius $translation-time,
      ease-in-out;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }

  &__card:hover {
    @include scale ($scale-size);
    color: #34568b;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 20px;
    background-color: lightgray;
  }

}
