.catalog {
  max-width: 944px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  &__card {
    width: 200px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;

    transition-duration: $transition-duration;

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }
  
    &:hover {
      transform: scale(120%);
      color: #34568b;
    }
  }
}
