.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 48px;

    border: 1px solid #ccc;
    border-radius: 5px;

    transition: color $transition-duration,
      transform $transition-duration;

    &:hover {
      color: #34568b;
      transform: scale(1.2);
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
