.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: #060b35;
    list-style: none;
    line-height: 60px;
    transition: color $translation-time2,
      transform $translation-time2,
      ease-in-out;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }

  &__item:hover {
    color: #34568b;
    transform: rotate(5deg) translateY(-8px);
  }

  &__item:hover::after {
    @include possitioning ($i);
    content: "";
    background-color: #00acdc;
    height: 4px;
    width: 100%;
    border-radius: 8px;
  }

}
