.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;

  box-shadow: #{$header-shadow-color};

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: #{$main-color-header};
    list-style: none;
    line-height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition-duration: 0.3s;

    &:hover {
      color: #{$hover-color-header};
    }
  }
}
