.catalog {
  @include flex(null, null);
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    @include flex(center, center);
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
    @extend %transition;

    &:hover {
      transform: scale(120%);
      color: #34568b;
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
