.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform $transition-duration;

    width: 200px;
    height: 300px;

    border: 1px solid $color-border;
    border-radius: 5px;

    margin-bottom: 48px;

      &:hover {
      transform: scale(120%);

      color: $color-hover-card;
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
