@import "./utils/variables";
@import "_header.scss";
@import "_catalog.scss";

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.catalog__card:hover {
  transform: scale(1.2);
  color: $card-hover-color;
}

.nav__link:hover {
  color: $nav-link-hover-color;
}