html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "_header.scss";
@import "_catalog.scss";

.catalog__card {
  transition-duration: 300ms;

  &:hover {
    transform: scale(1.2);
    color: #34568b;
  }
}

.nav__link {
  transition-duration: 300ms;

  &:hover {
    color: #00acdc;
  }
}
