@import "_variables.scss";
@import "_header.scss";
@import "_catalog.scss";

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.catalog__card {
  transition-duration: color, transform $transition-duration;
}

.nav__link {
  transition-duration: color $transition-duration;
}

.catalog__card:hover {
  transform: scale(1,2);
  color: $card-text-color;
  cursor: pointer;
}

.nav__link:hover {
  color: $nav-link-text-color;
}
