html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "./utils/placeholders";
@import "./utils/mixins";

@import "header.scss";
@import "nav.scss";
@import "catalog.scss";
