$transition: 0.3s linear;
$color-primary: #00acdc;
$color-secondary: #34568b;
$header-link-color: #060b35;
$border-radius: 5px;
$card-margin: 48px;
$card-width: 200px;
$card-height: 300px;
$border-color: #ccc;