$nav-blue-color: #00acdc;
$nav-black-color: #060b35;

$card-width: 200px;
$card-height: 300px;
$card-border-radius: 5px;
$card-border-color: #ccc;
$card-text-color: #34568b;

$catalog-max-width: calc($card-width * 4 + $card-vargin * 3);

$card-margin: 48px;

$transition-duration: 0.3s;

