$trans-duration: 300ms;
$smooth: linear;
$color-main-accent: #060b35;
$color-accent-blue: #00acdc;

$card-width: 200px;
$space-btwn-cards: 48px;
$catalog-width: ($card-width * 4) + ($space-btwn-cards * 3);
$catalog-padding-y: 50px;
