$card-width: 200px;
$card-height: 300px;
$card-margin: 48px;
$transition-duration: 300ms;
$card-hover-percintage-increase: 1.2;
$card-hover-margin-right: calc(#{$card-margin} - (#{$card-width} * 0.2))
