$header-hight: 60px;
$space-between-links: 20px;
$logo-hight: 40px;
$card-width: 200px;
$card-hight: 300px;
$space-around-cards: 48px;
$white-gray-color: #ccc;
$blue-gray-color: #34568b;
$dark-blue-color: #060b35;
$aqua-color: #00acdc;
